
/**navbar**/
nav{
    height: 70px;
}

.dropdown-toggle::after{
    display: none;
}

.cg-iconnav{
    list-style: none;
}

.cg-fonticon{
    font-size: 15px;
    padding: 0px;
}

.cg-color{
    color: #ff8f00;
}

.cc-coloricon{
    color: #5b5858;
}

.cc-coloricon2:hover{
    background-color:#5b5858 ;
    cursor: pointer;
}

.cc-colorpen:hover{
    color: white;
}

.cg-colortext{
    background-color: #e5e5e5;
}

.cg-dimensione{
    width: 50px;
}

.cg-marginform{
    padding-left: 55px;
    padding-right: 20px;
}



/**finenavbar**/

/**navbarleft**/
.cg-navbarleft{
    width: 150px;
    height: calc(100vh - 70px);
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;

}
.cg-marginright{
    padding-bottom: 1px;
    padding-top: 5px;
    margin-right: 5px;
    padding-left: 5px;

}
.cg-marginright2{
    padding-bottom: 15px;
    padding-left:;
}

.cg-paddingul{
    padding-right: 10px;
   
}

/**navbarleft**/

/**info top**/
.cg-info{
    height:calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
}

.cg-bgcolor{
    background-color: #1b72e8;
}

.cg-piano{
    font-size: 12px;
    background-color:#165bba;
}

.cg-plus{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
}

.cg-plus:hover{
    background-color: white;
}

.cg-text-black:hover{
    color: black;
}

/**info /top**/

/**main**/
.cg-bordertable{
    border: 1px solid #d2d2d2;
}

.cg-fontname{
    font-size: 15px;
}

.cg-azione{
    text-align: center;
}

.cg-avatar{
    width: 30px;
}

.cg-colortabella{
    background-color: red;
}

.cg-bgfaq{
    background-color: #f7f7f7;
}
.dropdown-menu[data-bs-popper]{
    left: -150px;
}

.cg-classi{
    vertical-align: text-bottom;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    width: 50%;
}
.cg-contatticanvas{
    text-align: left;
}
.offcanvas-header{
    display: block;
}

.cg-email{
    text-align: justify;
}

.cg-emailcanvas{
    width: 50px;
    height: 50px;
    background-color: red;
}

.cg-bgtable1{
    background-color: #f7f7f7;
}


/**main**/
/**hover**/
.cg-hover:hover{
     background-color: #adb5bd;
}
/**hover**/
/**media**/
@media  screen and (max-width:992px) {
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        width: 100%;
        height: 100vh;
    }
    
}

@media screen and (max-width:550px) {
    .cg-fontname{
        font-size: 13px;
    }
    .cg-avatar{
        width: 20px;
    }

    .cg-nextclass{
        font-size: 14px;
    }
    
}
/**media**/

body{
    animation: body 1.5s ease-in-out;
}

@keyframes body {
    
        0%{
            opacity:0; 
        }
        10%{
            opacity: 0.1;
        }
        20%{
            opacity: 0.2; 
        }
    
        30%{
            opacity:0.3; 
        }
        40%{
            opacity:0.4;
        }
    
        50%{
            opacity:0.5;
        }
    
        60%{
            opacity:0.6;
        }
        70%{
            opacity: 0.7;
        }
    
        80%s{
            opacity:0.8;
        }
        90%s{
            opacity: 0.9;
        }
    
        100%{
            opacity:1;
        }
    
    
}





